@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my little blog</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Opinion1">Opinion about the hype for Spider-Man</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Opinion2">Thoughts on The Wall by Pink Floyd</a>
</div>
