@{
    ViewData["Title"] = "Thoughts on The Wall by Pink Floyd";
}

<div class="text-center">
    <p>
        I have to say that for less than 10 years I have become a huge fan of music. And I am proud to say that I have gone through all kinds of transformations where my musical taste has radically changed. Before, I didn't appreciate music like I do now, and the only thing I liked was movie soundtracks.
    </p>
    <p>
        It wasn't until a friend introduced me to the world of music, and since then I have been a huge fan of art and the people who make that art.
    </p>
    <p>
        And it really is one of the coolest forms of expression, since they are presented in a simple format and can be more accessible than a movie, a series or a video game.
    </p>
    <p>
        So I want to share my thoughts about The Wall by Pink Floyd.
    </p>
    <p>
        This album is considered by many people as the magnum opus of the British band, and a clear reference of rock music, progressive rock and undoubtedly one of the best concept albums in history.
    </p>
    <p>
        In this we situate ourselves from the perspective of Pink, a man who lost his father in the war, was overprotected by his mother, had terrible teachers who humiliated and limited him, and a wife who cheated on this individual, who due to things Said previously, he plunges into madness and self-pity, to go from a victim of external and internal factors to a vile dictator such as the one responsible for the death of his father. Fortunately, it changes and destroys the wall of him in which he had hidden from the sufferings that life can give anyone.
    </p>
    <p>
        Not only for its great plot by Roger Waters, but for the beautiful and careful sound that the band gave to this album, is that many love this album, including me.
    </p>
    <p>
        It really is a journey that leaves no one indifferent, because of its careful and personal lyrics or the iconic sounds of Another Brick in the Wall, pt. 2nd Comfortably Numb, this album becomes the mirror that many people experience in different aspects and moments of our lives.
    </p>
    <p>
        This is one of those albums where you feel that it is not the story of Pink or Waters, but yours, since despite being fiction, it does not remove the fact that many of us have fears, insecurities and communication problems with the outside world. .
    </p>
    <p>
    And it is that despite having 27 songs, these feel like a movie, where if you subtract a scene, it will not be the same, even when it is treated as a transition song like Empty Spaces, or a banger like Young Lust, in where the narrative does not stop, and is enriched with each key, string, percussion or laments said by Pink or Waters.
    </p>
</div>
