@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We are a small one developer who created a blog to know how to capture their tastes on the internet, in order to receive criticism from people who hate what is in fashion, or simply despise what some elitists consider to be "niche" or of "higher quality" In any case, I don't care what you like, but I won't judge you by your preferences.</p>
<p>So come in and read my little opinions about some topics I really like</p>