@model Project2.Database.Music

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Music</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FavArtistId" />
            <div class="form-group">
                <label asp-for="FavArtistName" class="control-label"></label>
                <input asp-for="FavArtistName" class="form-control" />
                <span asp-validation-for="FavArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavSongName" class="control-label"></label>
                <input asp-for="FavSongName" class="form-control" />
                <span asp-validation-for="FavSongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavAlbumName" class="control-label"></label>
                <input asp-for="FavAlbumName" class="form-control" />
                <span asp-validation-for="FavAlbumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FavMusicVideoName" class="control-label"></label>
                <input asp-for="FavMusicVideoName" class="form-control" />
                <span asp-validation-for="FavMusicVideoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
